@import "layout/header.css";
@import "layout/footer.css";
@import "composent/photo.css";
@import "composent/button.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #f4edde;
  color: white;
}

.gallery-background {
  background-color: #0f4c75;
}
.title {
  letter-spacing: 10px;
  color: #0f4c75;
  font-variant: small-caps;
  font-size: 30px;
  margin: 20px;
}
.page-blocks {
  text-align: center;
  margin-top: 50px;
}
hr {
  border: 0;
  height: 2px;
  width: 50%;
  position: relative;
  margin: 50px auto;
  background-color: #0f4c75;
}
