@import 'layout/header.css';
@import 'layout/footer.css';
@import 'composent/photo.css';
@import 'composent/overview.css';
@import 'composent/appointment.css';
@import 'composent/button.css';
@import 'composent/availability-calendar.css';

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: #f4edde;
    color: white;
}

body.dark {
    background: #000910;
    color: black;
}

.top-background, .appointment-img {
    background-image: url("../images/house/day.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.flex-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}

.page-blocks {
    text-align: center;
    margin-top: 50px;
}

.page-title {
    text-align: center;
    font-size: 50px;
    padding: 375px 200px;
    letter-spacing: 10px;
    text-shadow: 0 0 5px #0f4c75;
}

.header-description, .title {
    font-variant: small-caps;
    font-size: 30px;
    margin: 20px;
}

.title {
    letter-spacing: 10px;
    color: #0f4c75;
}