.more-design-btn {
  background: transparent;
  border: 2px solid #0f4c75;
  color: #0f4c75;
  font-weight: 300;
  padding: 10px;
  margin: 10px;
  letter-spacing: 2px;
  cursor: pointer;
}

.more-design-btn:hover {
  background: #0f4c75;
  color: white;
  transition: all 0.3s;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #0f4c75;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background: #00406b;
  transition: all 0.3s;
  border: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}
